# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.ilk
*.pdb

# Ignore bin folder but not data
*/bin/*
!*/bin/data/
!*/bin/data/geo/*.obj

# Ignore Visual Studio Files
obj/*
.vs/*

# Ignore zip folders I submit for class
*.zip
